.wrapper_book_filter {}

.book_filter__icon {
  position: relative;
}

.book_filter__icon>input[type='radio'] {
  cursor: pointer;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  appearance: none;
}

.book_filter__text {}