.nav {
  width: 100%;
  display: grid;
  place-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--white);
}