#root {
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.tw-card {
  width: 250px;
  height: 100px;
  padding: 16px;
  background-color: #00000022;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  outline: 1px solid #363535;
  border-radius: 4px;
}

.tw-card__avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tw-card__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.tw-card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tw-card__button button {
  width: 70px;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.tw-card__button button.following {
  background-color: #0073ff;
  color: #fff;
}

/* STYLES FOR INTERVIEW ONE */
.container_app_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* STYLES FOR INTERVIEW TWO */
.interview_tow {
  width: 100%;
}

.wrapper_library {
  width: 100%;
}

.wrapper_library__filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library__filters-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reading-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 32px;
  justify-items: center;
}